@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");
/* line 1, scss/sass/main.sass */
:root {
  --bar-percentage: 0;
}

/* line 1, scss/sass/global/global.sass */
* {
  box-sizing: border-box;
}

/* line 5, scss/sass/global/global.sass */
html,
body {
  margin: 0;
}

/* line 10, scss/sass/global/global.sass */
body {
  font-family: "Open Sans", sans-serif !important;
  line-height: 1.2 !important;
}

/* line 15, scss/sass/global/global.sass */
h1,
h2,
h3,
h4 {
  font-weight: 700 !important;
}

/* line 22, scss/sass/global/global.sass */
hr {
  margin: 10px 0 10px 0;
  padding: 0;
}

/* line 27, scss/sass/global/global.sass */
a {
  text-decoration: none;
  transition: all .5s ease-in-out;
}

/* line 30, scss/sass/global/global.sass */
a:hover {
  text-decoration: none !important;
}

/* line 33, scss/sass/global/global.sass */
.content-wrapper {
  min-height: calc(100vh - 420px);
}

/* line 36, scss/sass/global/global.sass */
.dn {
  display: none !important;
}

/* line 40, scss/sass/global/global.sass */
.fl {
  float: left !important;
}

/* line 44, scss/sass/global/global.sass */
.fr {
  float: right;
}

/* line 48, scss/sass/global/global.sass */
.fn {
  float: none;
}

/* line 52, scss/sass/global/global.sass */
.cb {
  clear: both;
}

/* line 55, scss/sass/global/global.sass */
.cd-loader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000001;
  width: 100%;
  height: 100%;
  overflow: visible;
  background: #fff;
}

/* line 64, scss/sass/global/global.sass */
.cd-loader__grid {
  width: 250px;
  height: 250px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

/* line 72, scss/sass/global/global.sass */
.cd-loader__item {
  width: 100%;
  height: 100%;
  background: url(../img/loader-logo.jpg) no-repeat;
  background-size: contain;
  -webkit-animation: fade .5s infinite ease-in-out;
          animation: fade .5s infinite ease-in-out;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* line 88, scss/sass/global/global.sass */
.tb-banner__img {
  margin-bottom: 50px;
}

/* line 91, scss/sass/global/global.sass */
#footer {
  background: #009a37;
  color: white;
  padding: 5px 0;
  display: table;
  width: 100%;
  font-size: 12px;
  margin-top: 50px;
}

/* line 101, scss/sass/global/global.sass */
#footer span {
  margin-right: 10px;
}

/* line 105, scss/sass/global/global.sass */
#footer span.border {
  border-left: 1px solid #fff;
  padding-left: 10px;
}

/* line 109, scss/sass/global/global.sass */
#footer a {
  color: white !important;
}

/* line 1, scss/sass/components/menu.sass */
.tb-nav--top {
  position: relative;
  top: 10px;
  left: 0px;
  width: 100%;
  z-index: 1;
}

/* line 7, scss/sass/components/menu.sass */
.tb-nav--top .wrap {
  width: 95%;
  max-width: 1400px;
  margin: 0px auto;
}

/* line 11, scss/sass/components/menu.sass */
.tb-nav--top .btn {
  display: inline-block;
  vertical-align: middle;
  border-radius: 12px;
  font-size: 12px;
  border: 2px solid #009a37;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  color: #009a37 !important;
  overflow: hidden;
  transition: all .5s ease-in-out;
}

/* line 22, scss/sass/components/menu.sass */
.tb-nav--top .btn:hover {
  background: rgba(255, 255, 255, 0.7);
}

/* line 24, scss/sass/components/menu.sass */
.tb-nav--top .btn a {
  color: #009a37;
}

/* line 26, scss/sass/components/menu.sass */
.tb-nav--top .btn.menu-click {
  float: left;
}

/* line 28, scss/sass/components/menu.sass */
.tb-nav--top .group-btn {
  float: right;
}

/* line 1, scss/sass/components/_side-menu.sass */
.tb-nav {
  position: fixed;
  width: 300px;
  height: 100vh;
  background: #009a37;
  z-index: 9999;
  display: table;
  text-align: center;
  box-shadow: 4px -4px 17px 2px rgba(0, 47, 17, 0.7);
  left: -350px;
  transition: all .4s ease-in-out;
  top: 0;
}

/* line 13, scss/sass/components/_side-menu.sass */
.tb-nav.active {
  left: 0px;
}

/* line 15, scss/sass/components/_side-menu.sass */
.tb-nav .close {
  position: absolute;
  opacity: 1;
  color: #fff;
  border-radius: 100%;
  border: 2px solid #019937;
  right: -50px;
  top: 20px;
  line-height: 1;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  color: #019937;
  overflow: hidden;
}

/* line 28, scss/sass/components/_side-menu.sass */
.tb-nav .close a {
  display: table;
  width: 35px;
  height: 35px;
  text-align: center;
}

/* line 33, scss/sass/components/_side-menu.sass */
.tb-nav .close a:hover {
  background: rgba(255, 255, 255, 0.5);
}

/* line 35, scss/sass/components/_side-menu.sass */
.tb-nav .close a p {
  display: table-cell;
  vertical-align: middle;
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
  color: #009a37;
  text-shadow: none !important;
}

/* line 43, scss/sass/components/_side-menu.sass */
.tb-nav .tb-primary-nav {
  font-family: "Open Sans", sans-serif;
  color: #fff;
  overflow: auto;
  height: 100vh;
  padding: 40px 0px;
}

/* line 49, scss/sass/components/_side-menu.sass */
.tb-nav .tb-primary-nav a {
  color: white;
}

/* line 51, scss/sass/components/_side-menu.sass */
.tb-nav .tb-primary-nav .title {
  padding-top: 10%;
}

/* line 53, scss/sass/components/_side-menu.sass */
.tb-nav .tb-primary-nav ul {
  margin-top: 80px;
  margin-bottom: 40px;
  list-style-type: none;
  padding: 0;
}

/* line 59, scss/sass/components/_side-menu.sass */
.tb-nav .tb-primary-nav ul li a {
  display: block;
  padding: 10px 0px;
  font-size: 14px;
  position: relative;
  text-transform: uppercase;
}

/* line 65, scss/sass/components/_side-menu.sass */
.tb-nav .tb-primary-nav ul li a:after {
  content: "";
  width: 50%;
  height: 1px;
  position: absolute;
  bottom: -1px;
  left: 0px;
  right: 0px;
  margin: auto;
  background: #0fb149;
}

/* line 75, scss/sass/components/_side-menu.sass */
.tb-nav .tb-primary-nav ul li a:hover {
  background: #0fb149;
  color: #FFDF08;
}

/* line 79, scss/sass/components/_side-menu.sass */
.tb-menu--selected {
  background: #0fb149;
}

/* line 1, scss/sass/components/circle.sass */
.tb-circle__link {
  color: #009a37 !important;
}

/* line 3, scss/sass/components/circle.sass */
.tb-circle__link:hover {
  color: #FFDF08 !important;
  text-shadow: 1px 1px 1px black;
}

/* line 6, scss/sass/components/circle.sass */
.circle {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  width: 670px;
  font-weight: 700;
  text-shadow: 1px 1px 1px #061b01;
  line-height: 1.2;
}

/* line 14, scss/sass/components/circle.sass */
.circle .logo {
  position: absolute;
  max-width: 50%;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  margin: auto;
}

/* line 22, scss/sass/components/circle.sass */
.circle .block {
  position: absolute;
  z-index: 999;
  display: inline-block;
}

/* line 26, scss/sass/components/circle.sass */
.circle .block .name {
  color: white;
  display: block;
  position: absolute;
  margin: auto;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  transition: all .4s ease-in-out;
}

/* line 35, scss/sass/components/circle.sass */
.circle .block .punto {
  width: 16px;
  height: 16px;
  background: #fff;
  border-radius: 100%;
  transition: all .4s ease-in-out;
  z-index: 99;
  position: relative;
}

/* line 43, scss/sass/components/circle.sass */
.circle .block .content {
  visibility: hidden;
  opacity: 0;
  transition: all .7s ease-in-out;
}

/* line 47, scss/sass/components/circle.sass */
.circle .block .content.active {
  visibility: visible;
  opacity: 1;
}

/* line 50, scss/sass/components/circle.sass */
.circle .block .content .line {
  position: absolute;
  border: 2px solid #ffe008;
  width: 0px;
  height: 0px;
  transition: all .4s ease-in-out;
}

/* line 56, scss/sass/components/circle.sass */
.circle .block .content .info {
  position: absolute;
}

/* line 58, scss/sass/components/circle.sass */
.circle .block .content .info .icon {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background: #ffe008;
  position: relative;
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
  transition: all .4s ease-in-out;
  display: inline-block;
  vertical-align: top;
}

/* line 68, scss/sass/components/circle.sass */
.circle .block .content .info .icon img {
  position: absolute;
  max-width: 55%;
  max-height: 55%;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  margin: auto;
}

/* line 77, scss/sass/components/circle.sass */
.circle .block .content .info .text {
  color: #51245f !important;
  text-shadow: none;
  font-size: 16px;
  transition: all .5 ease;
  display: inline !important;
}

/* line 83, scss/sass/components/circle.sass */
.circle .block .content .info .text:hover {
  cursor: pointer;
}

/* line 86, scss/sass/components/circle.sass */
.circle .block.uno {
  top: 75px;
  left: 330px;
}

/* line 89, scss/sass/components/circle.sass */
.circle .block.uno .name {
  left: -49px;
  right: 0px;
  top: -28px;
}

/* line 93, scss/sass/components/circle.sass */
.circle .block.uno .line {
  left: 3px;
  bottom: 5px;
  border-top-left-radius: 45px;
  border-bottom: 0px;
  border-right: 0px;
  height: 40px;
}

/* line 100, scss/sass/components/circle.sass */
.circle .block.uno .info {
  left: 102px;
  top: -60px;
}

/* line 103, scss/sass/components/circle.sass */
.circle .block.uno .info .text {
  display: inline-block;
  vertical-align: top;
  width: 210px;
  position: absolute;
  top: 0px;
  font-family: "Open Sans", sans-serif;
  text-align: left;
  left: 70px;
}

/* line 112, scss/sass/components/circle.sass */
.circle .block.uno .info .text .title {
  font-size: 28px;
}

/* line 115, scss/sass/components/circle.sass */
.circle .block.uno .content.active .line {
  width: 100px;
}

/* line 118, scss/sass/components/circle.sass */
.circle .block.uno .content.active .info .icon {
  -webkit-transform: scale(1);
          transform: scale(1);
}

/* line 121, scss/sass/components/circle.sass */
.circle .block.dos {
  top: 251px;
  left: 566px;
}

/* line 124, scss/sass/components/circle.sass */
.circle .block.dos .name {
  text-align: left;
  margin-left: 24px;
}

/* line 127, scss/sass/components/circle.sass */
.circle .block.dos .line {
  left: 3px;
  bottom: 5px;
  height: 0px;
  border-width: 1px;
}

/* line 132, scss/sass/components/circle.sass */
.circle .block.dos .info {
  left: 60px;
  top: -23px;
}

/* line 135, scss/sass/components/circle.sass */
.circle .block.dos .info .text {
  display: inline-block;
  vertical-align: top;
  width: 210px;
  position: absolute;
  bottom: 66px;
  font-family: "Open Sans", sans-serif;
  text-align: left;
  left: 0px;
}

/* line 145, scss/sass/components/circle.sass */
.circle .block.dos .info .text .title {
  font-weight: 700;
  font-size: 28px;
}

/* line 149, scss/sass/components/circle.sass */
.circle .block.dos .content.active .line {
  width: 60px;
}

/* line 152, scss/sass/components/circle.sass */
.circle .block.dos .content.active .info .icon {
  -webkit-transform: scale(1);
          transform: scale(1);
}

/* line 155, scss/sass/components/circle.sass */
.circle .block.tres {
  top: 533px;
  left: 470px;
}

/* line 158, scss/sass/components/circle.sass */
.circle .block.tres .name {
  width: 120px;
  display: block;
  text-align: left;
  left: 20px;
  top: 10px;
}

/* line 164, scss/sass/components/circle.sass */
.circle .block.tres .line {
  left: 7px;
  bottom: -22px;
  border-bottom-left-radius: 45px;
  border-top: 0px;
  border-right: 0px;
  height: 35px;
}

/* line 171, scss/sass/components/circle.sass */
.circle .block.tres .info {
  left: 90px;
  top: 1px;
}

/* line 174, scss/sass/components/circle.sass */
.circle .block.tres .info .text {
  display: inline-block;
  vertical-align: top;
  width: 224px;
  position: absolute;
  bottom: 15px;
  font-family: "Open Sans", sans-serif;
  text-align: left;
  left: 70px;
}

/* line 184, scss/sass/components/circle.sass */
.circle .block.tres .info .text .title {
  font-weight: 700;
  font-size: 28px;
  margin-top: 5px;
}

/* line 189, scss/sass/components/circle.sass */
.circle .block.tres .content.active .line {
  width: 100px;
}

/* line 192, scss/sass/components/circle.sass */
.circle .block.tres .content.active .info .icon {
  -webkit-transform: scale(1);
          transform: scale(1);
}

/* line 195, scss/sass/components/circle.sass */
.circle .block.cuatro {
  top: 529px;
  left: 178px;
}

/* line 198, scss/sass/components/circle.sass */
.circle .block.cuatro .name {
  text-align: right;
  right: 26px;
  top: 10px;
}

/* line 202, scss/sass/components/circle.sass */
.circle .block.cuatro .line {
  right: 7px;
  bottom: -22px;
  border-bottom-right-radius: 45px;
  border-top: 0px;
  border-left: 0px;
  height: 35px;
}

/* line 209, scss/sass/components/circle.sass */
.circle .block.cuatro .info {
  right: 70px;
  top: 1px;
}

/* line 212, scss/sass/components/circle.sass */
.circle .block.cuatro .info .text {
  display: inline-block;
  vertical-align: top;
  width: 224px;
  position: absolute;
  bottom: 15px;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  right: 70px;
  color: #6f6f6f;
}

/* line 223, scss/sass/components/circle.sass */
.circle .block.cuatro .info .text .title {
  font-weight: 700;
  font-size: 28px;
  margin-top: 5px;
}

/* line 228, scss/sass/components/circle.sass */
.circle .block.cuatro .content.active .line {
  width: 100px;
}

/* line 231, scss/sass/components/circle.sass */
.circle .block.cuatro .content.active .info .icon {
  -webkit-transform: scale(1);
          transform: scale(1);
}

/* line 234, scss/sass/components/circle.sass */
.circle .block.cinco {
  top: 251px;
  left: 88px;
}

/* line 237, scss/sass/components/circle.sass */
.circle .block.cinco .name {
  width: 200px;
  text-align: right;
  right: 28px;
}

/* line 241, scss/sass/components/circle.sass */
.circle .block.cinco .line {
  right: 3px;
  bottom: 5px;
  height: 0px;
  border-width: 1px;
}

/* line 246, scss/sass/components/circle.sass */
.circle .block.cinco .info {
  right: 60px;
  top: -23px;
}

/* line 249, scss/sass/components/circle.sass */
.circle .block.cinco .info .text {
  display: inline-block;
  vertical-align: top;
  width: 210px;
  position: absolute;
  bottom: 66px;
  font-family: "Open Sans", sans-serif;
  text-align: right;
  right: 0px;
}

/* line 258, scss/sass/components/circle.sass */
.circle .block.cinco .info .text .title {
  font-weight: 700;
  font-size: 28px;
  position: relative;
  line-height: 1;
}

/* line 263, scss/sass/components/circle.sass */
.circle .block.cinco .info .text .title a {
  font-size: 20px;
  font-weight: 800;
  margin: 0px;
  position: relative;
  color: #009a37;
}

/* line 269, scss/sass/components/circle.sass */
.circle .block.cinco .info .text .title a:hover {
  color: #FFDF08;
  text-shadow: 1px 1px 1px black;
}

/* line 272, scss/sass/components/circle.sass */
.circle .block.cinco .info .text .title a:after {
  content: "ir";
  position: absolute;
  left: -26px;
  top: 8px;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
}

/* line 280, scss/sass/components/circle.sass */
.circle .block.cinco .info .text .title a:before {
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background: #009a37;
  position: absolute;
  left: -32px;
  top: 0px;
  bottom: 0px;
  margin: auto;
}

/* line 292, scss/sass/components/circle.sass */
.circle .block.cinco .content.active .line {
  width: 60px;
}

/* line 295, scss/sass/components/circle.sass */
.circle .block.cinco .content.active .info .icon {
  -webkit-transform: scale(1);
          transform: scale(1);
}

/* line 300, scss/sass/components/circle.sass */
.circle .block a.active .punto {
  background: #ffdf08;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

/* line 303, scss/sass/components/circle.sass */
.circle .block a.active .name {
  opacity: 0;
  -webkit-transform: scale(0.4);
          transform: scale(0.4);
}

/* line 307, scss/sass/components/circle.sass */
.circle .block a.active .info {
  display: block;
}

/* line 311, scss/sass/components/circle.sass */
.circle svg {
  display: inline-block;
  top: 0;
  left: 0;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

/* line 316, scss/sass/components/circle.sass */
.circle svg .svg-circle-bg {
  fill: transparent;
  stroke: #fff;
  stroke-width: 2px;
  stroke-linejoin: round;
}

/* line 321, scss/sass/components/circle.sass */
.circle svg .svg-circle-bar {
  fill: transparent;
  stroke: #ffdf08;
  stroke-width: 3px;
  stroke-dasharray: 943;
  stroke-dashoffset: calc((100 - var(--bar-percentage)) * 9.43);
  stroke-linecap: round;
  stroke-linejoin: round;
  transition: stroke-dashoffset 1s;
}

/* line 1, scss/sass/components/_modals.sass */
.modal-content {
  border-radius: 0 !important;
}

/* line 3, scss/sass/components/_modals.sass */
.tb-acceso-modal {
  color: white;
  padding: 20px 10px;
  background: #009a37 !important;
}

/* line 7, scss/sass/components/_modals.sass */
.tb-acceso-modal .modal-title {
  font-size: 24px;
}

/* line 9, scss/sass/components/_modals.sass */
.tb-acceso-modal .close {
  padding: 10px;
  opacity: .5 !important;
}

/* line 12, scss/sass/components/_modals.sass */
.tb-acceso-modal .close:hover {
  opacity: 1 !important;
}

/* line 14, scss/sass/components/_modals.sass */
.tb-acceso-modal__form {
  padding-top: 30px;
  max-width: 280px;
  text-align: center;
  margin: 0 auto;
}

/* line 19, scss/sass/components/_modals.sass */
.tb-acceso-modal__form a {
  color: white !important;
}

/* line 21, scss/sass/components/_modals.sass */
.tb-acceso-modal__form .form-control {
  background: none !important;
  border: 1px solid white;
  color: white;
  border-radius: 0 !important;
}

/* line 26, scss/sass/components/_modals.sass */
.tb-acceso-modal__form .form-control::-webkit-input-placeholder {
  color: white;
  opacity: .7;
}

/* line 29, scss/sass/components/_modals.sass */
.tb-acceso-modal__form .form-control .checkbox label {
  padding-left: 0;
}

/* line 31, scss/sass/components/_modals.sass */
.tb-acceso-modal__form .form-control .checkbox input[type=checkbox] {
  margin-left: -30px;
}

/* line 34, scss/sass/components/_modals.sass */
.tb-modal--btn {
  margin-top: 20px;
  padding: 5px 20px;
  border-radius: 12px;
  font-size: 18px;
  border: 2px solid #009a37;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  color: #009a37 !important;
  overflow: hidden;
  transition: all .5s ease-in-out;
}

/* line 45, scss/sass/components/_modals.sass */
.tb-modal--btn:hover {
  background: rgba(255, 255, 255, 0.7);
}

/* line 1, scss/sass/pages/page.sass */
section.page {
  display: table;
  width: 100%;
  min-height: 100vh;
  background: gray;
  position: absolute;
  padding: 40px;
  background-size: auto;
  background-position: center;
  overflow: hidden;
}

/* line 11, scss/sass/pages/page.sass */
section.page .bg-image {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-size: auto;
  background-position: center;
  opacity: 0;
  transition: all .4s ease-in-out;
  -webkit-transform: scale(1.05) rotate(2deg);
          transform: scale(1.05) rotate(2deg);
}

/* line 25, scss/sass/pages/page.sass */
section.page .bg-image.active {
  opacity: 1;
  -webkit-transform: scale(1) rotate(0deg);
          transform: scale(1) rotate(0deg);
}

/* line 28, scss/sass/pages/page.sass */
section.page .table-cell {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

/* line 3, scss/sass/pages/beneficios.sass */
.tb-beneficios--title {
  font-weight: 700;
}

/* line 5, scss/sass/pages/beneficios.sass */
.tb-beneficios--toltip__link {
  cursor: pointer;
  color: white;
}

/* line 8, scss/sass/pages/beneficios.sass */
.tb-beneficios--toltip__link:hover {
  color: #FFDF08;
}

@media screen and (min-width: 1024px) {
  /* line 11, scss/sass/pages/beneficios.sass */
  .row-eq-height {
    display: flex;
  }
}

/* line 15, scss/sass/pages/beneficios.sass */
.tb-article--cart {
  border: 1px solid grey;
  padding: 0 !important;
  margin-bottom: 20px !important;
}

/* line 19, scss/sass/pages/beneficios.sass */
.tb-article--cart hr {
  margin-bottom: 0;
  border-top-color: grey;
}

/* line 22, scss/sass/pages/beneficios.sass */
.tb-article--cart__img {
  margin: 0 auto;
}

@media screen and (min-width: 1024px) {
  /* line 24, scss/sass/pages/beneficios.sass */
  .tb-article--cart__promo {
    background: #009a37;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0 0 2px !important;
  }
}

/* line 32, scss/sass/pages/beneficios.sass */
.tb-article--cart__descount {
  font-weight: 700;
}

@media screen and (min-width: 1024px) {
  /* line 32, scss/sass/pages/beneficios.sass */
  .tb-article--cart__descount {
    color: white;
    text-align: center;
  }
}

/* line 37, scss/sass/pages/beneficios.sass */
.tb-article--cart__descount--percent {
  font-size: 30px;
}

/* line 39, scss/sass/pages/beneficios.sass */
.tb-article--cart__descount--percent-text {
  font-size: 18px;
  line-height: 1;
}

/* line 42, scss/sass/pages/beneficios.sass */
.tb-article--cart__content {
  display: table;
  width: 100%;
  background: gainsboro;
}

@media screen and (min-width: 1024px) {
  /* line 42, scss/sass/pages/beneficios.sass */
  .tb-article--cart__content {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/* line 50, scss/sass/pages/beneficios.sass */
.tb-article--cart__validate {
  padding: 5px;
  background: #51245f;
  color: white;
}

/* line 54, scss/sass/pages/beneficios.sass */
.tb-article--cart__validate p {
  padding: 0;
  margin: 0;
}

/* line 58, scss/sass/pages/beneficios.sass */
.tb-descount-day {
  font-size: 12px;
}

/* line 2, scss/sass/pages/puntos.sass */
.tb-page--puntos__graph {
  margin-bottom: 30px;
}

/* line 4, scss/sass/pages/puntos.sass */
.tb-page--puntos__img {
  margin-bottom: 20px;
}

/* line 6, scss/sass/pages/puntos.sass */
.tb-page--puntos__img--content {
  width: 100%;
}

/* line 8, scss/sass/pages/puntos.sass */
.tb-page--puntos__img--text {
  max-width: 300px;
  margin: 0 auto;
}

/* line 11, scss/sass/pages/puntos.sass */
.tb-big-text {
  font-size: 18px;
}

/* line 13, scss/sass/pages/puntos.sass */
.text-big {
  font-size: 22px;
  font-weight: 700;
  text-align: center;
  display: inline-block;
  padding-bottom: 10px;
}

/* line 20, scss/sass/pages/puntos.sass */
.bg-grey {
  background: #f1f1f1;
  padding: 40px 0;
}

/* line 25, scss/sass/pages/puntos.sass */
.tb-pasenger-list li {
  padding-bottom: 20px;
}

/* line 28, scss/sass/pages/puntos.sass */
.black-hr {
  border-top: 1px solid #009a37 !important;
}

/* line 31, scss/sass/pages/puntos.sass */
.tb-page--programas__section {
  padding: 10px 5px;
}

/* line 34, scss/sass/pages/puntos.sass */
.tb-bg-grey {
  border: 1px solid #009a37 !important;
  padding: 0 10px;
}

/* line 39, scss/sass/pages/puntos.sass */
.tb-page--programas__big-title {
  font-size: 32px;
}

/* line 18, scss/sass/main.sass */
.tb-page .tb-nav--top {
  position: relative;
  top: 0;
  padding: 20px 0;
  height: 70px;
  background: #D5FEDC;
  box-shadow: 2px 0 8px #009a37;
}

/* line 26, scss/sass/main.sass */
.input-porcent {
  position: absolute;
  left: 50px;
  top: 50px;
}

/* line 31, scss/sass/main.sass */
.back {
  text-align: right;
  margin-bottom: 30px;
}

/* line 34, scss/sass/main.sass */
.back a {
  background: #019937;
  padding: 12px 15px;
  border-radius: 10px;
  font-size: 13px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
}

@media (max-width: 1000px) {
  /* line 44, scss/sass/main.sass */
  header {
    width: calc(94% - 100px);
    left: calc(-94% - 100px);
  }
  /* line 47, scss/sass/main.sass */
  header .close {
    background: #019937;
    color: #fff;
  }
  /* line 50, scss/sass/main.sass */
  section.page {
    display: block;
    background-image: url("../img/bg-mobile.jpg");
    background-size: cover;
    background-position: center;
  }
  /* line 55, scss/sass/main.sass */
  section.page .table-cell {
    display: block;
  }
  /* line 57, scss/sass/main.sass */
  section.page .bg-image {
    display: none !important;
  }
  /* line 59, scss/sass/main.sass */
  section.page .svg-bar {
    display: none !important;
  }
  /* line 61, scss/sass/main.sass */
  section.page .circle {
    width: 90% !important;
    margin-top: 80px;
  }
  /* line 64, scss/sass/main.sass */
  section.page .circle .block {
    left: 0px !important;
    top: 0px !important;
    display: block !important;
    position: relative !important;
    padding: 15px;
    background: rgba(255, 255, 255, 0.7);
    margin-bottom: 5px;
  }
  /* line 72, scss/sass/main.sass */
  section.page .circle .block .name, section.page .circle .block .line, section.page .circle .block .punto {
    display: none !important;
  }
  /* line 74, scss/sass/main.sass */
  section.page .circle .block .content {
    visibility: visible !important;
    opacity: 1 !important;
  }
  /* line 77, scss/sass/main.sass */
  section.page .circle .block .content .info, section.page .circle .block .content .text {
    position: relative !important;
    top: 0px !important;
    left: 0px !important;
    right: inherit !important;
    bottom: inherit !important;
    text-align: left !important;
    color: #474747 !important;
    font-size: 14px !important;
  }
  /* line 86, scss/sass/main.sass */
  section.page .circle .block .content .info .title, section.page .circle .block .content .text .title {
    font-size: 18px !important;
  }
  /* line 88, scss/sass/main.sass */
  section.page .circle .block .content .info .title a, section.page .circle .block .content .text .title a {
    font-size: 14px !important;
    font-weight: 400 !important;
    display: block !important;
    margin: 8px 0px !important;
    margin-left: 28px !important;
  }
  /* line 94, scss/sass/main.sass */
  section.page .circle .block .content .info .title a:after, section.page .circle .block .content .text .title a:after {
    top: 0px !important;
  }
  /* line 96, scss/sass/main.sass */
  section.page .circle .block .content .info .icon, section.page .circle .block .content .text .icon {
    -webkit-transform: scale(1);
            transform: scale(1);
    margin-right: 20px;
  }
  /* line 102, scss/sass/main.sass */
  section.beneficios .wrap .group .block {
    width: 49.5%;
  }
}

@media (max-width: 820px) {
  /* line 107, scss/sass/main.sass */
  section.novedades .wrap .first {
    text-align: left;
  }
  /* line 109, scss/sass/main.sass */
  section.novedades .wrap .first .text {
    display: block;
    width: 100%;
    margin-left: 0px;
  }
}

@media (max-width: 650px) {
  /* line 117, scss/sass/main.sass */
  section.beneficios .wrap .group .block {
    width: 100%;
  }
}

/*# sourceMappingURL=main.css.map */
