*
  box-sizing: border-box;


html,
body 
  margin: 0


body
  font-family: $primary-font !important
  line-height: 1.2 !important


h1,
h2,
h3,
h4 
  font-weight: $font-bold !important


hr 
  margin: 10px 0 10px 0
  padding: 0


a
  text-decoration: none
  transition: all .5s ease-in-out
  &:hover
    text-decoration: none !important

.content-wrapper
  min-height: calc(100vh - 420px)

.dn 
  display: none !important


.fl 
  float: left !important


.fr 
  float: right


.fn
  float: none


.cb 
  clear: both

.cd-loader 
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000001;
  width: 100%;
  height: 100%;
  overflow: visible;
  background: #fff;
  &__grid 
    width: 250px;
    height: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation-delay: 0.2s;
  &__item 
    width: 100%;
    height: 100%;
    background: url(../img/loader-logo.jpg) no-repeat;
    background-size: contain
    animation: fade .5s infinite ease-in-out;

@keyframes fade
  0%
    opacity: 0
  100%
    opacity: 1

    

    
.tb-banner__img
  margin-bottom: 50px

#footer 
  background: $brand-green
  color: $white
  padding: 5px 0
  display: table
  width: 100%
  font-size: 12px
  margin-top: 50px


#footer span 
	margin-right: 10px


#footer span.border
	border-left: 1px solid #fff
	padding-left: 10px

#footer a
  color: $white !important