.modal-content
    border-radius: 0 !important
.tb-acceso-modal
    color: $white
    padding: 20px 10px
    background: $brand-green !important
    .modal-title
        font-size: 24px
    .close
        padding: 10px
        opacity: .5 !important
        &:hover
            opacity: 1 !important
    &__form
        padding-top: 30px
        max-width: 280px
        text-align: center
        margin: 0 auto
        a
            color: $white !important
        .form-control
            background: none !important
            border: 1px solid $white
            color: $white
            border-radius: 0 !important
            &::-webkit-input-placeholder
                color: $white
                opacity: .7
            & .checkbox label
                padding-left: 0
            & .checkbox input[type=checkbox]
                margin-left: -30px

.tb-modal--btn
    margin-top: 20px
    padding: 5px 20px
    border-radius: 12px
    font-size: 18px
    border: 2px solid $brand-green
    font-family: $primary-font
    font-weight: bold
    color: $brand-green !important
    overflow: hidden
    transition: all .5s ease-in-out
    &:hover 
      background: rgba(255,255,255,.7)