.tb-nav
  position: fixed
  width: 300px
  height: 100vh
  background: #009a37
  z-index: 9999
  display: table
  text-align: center
  box-shadow: 4px -4px 17px 2px rgba(0, 47, 17, 0.7);
  left: -350px
  transition: all .4s ease-in-out;
  top: 0
  &.active
    left: 0px
  .close
    position: absolute;
    opacity: 1;
    color: #fff;
    border-radius: 100%;
    border: 2px solid #019937;
    right: -50px;
    top: 20px;
    line-height: 1;
    font-weight: bold;
    font-family: $primary-font
    color: #019937
    overflow: hidden
    a
      display: table
      width: 35px
      height: 35px
      text-align: center
      &:hover
        background: rgba(255,255,255,.5)
      p
        display: table-cell
        vertical-align: middle
        font-weight: $font-bold
        font-size: 20px
        line-height: 1
        color: $brand-green
        text-shadow: none !important
  .tb-primary-nav
    font-family: $primary-font
    color: #fff 
    overflow: auto
    height: 100vh
    padding: 40px 0px
    a
      color: $white
    .title
      padding-top: 10%
    ul
      margin-top: 80px
      margin-bottom: 40px
      list-style-type: none
      padding: 0
      li
        a
          display: block
          padding: 10px 0px
          font-size: 14px
          position: relative
          text-transform: uppercase
          &:after
            content: ""
            width: 50%
            height: 1px
            position: absolute
            bottom: -1px
            left: 0px
            right: 0px
            margin: auto
            background: #0fb149
          &:hover
            background: #0fb149
            color: $brand-y

.tb-menu--selected
  background: #0fb149