.tb-circle__link
  color: $brand-green !important
  &:hover
    color: $brand-y !important
    text-shadow: 1px 1px 1px $black
.circle
  display: inline-block;
  position: relative;
  vertical-align: middle;
  width: 670px
  font-weight: $font-bold
  text-shadow: 1px 1px 1px #061b01
  line-height: 1.2
  .logo
    position: absolute
    max-width: 50%
    left: 0px
    right: 0px
    top: 0px
    bottom: 0px
    margin: auto
  .block
    position: absolute
    z-index: 999
    display: inline-block;
    .name 
      color: $white;
      display: block;
      position: absolute;
      margin: auto;
      font-size: 18px;
      font-weight: 600
      text-transform: uppercase
      transition: all .4s ease-in-out;
    .punto
      width: 16px
      height: 16px
      background: #fff
      border-radius: 100%
      transition: all .4s ease-in-out;
      z-index: 99
      position: relative
    .content
      visibility: hidden
      opacity: 0
      transition: all .7s ease-in-out;
      &.active
        visibility: visible
        opacity: 1
      .line
        position: absolute;
        border: 2px solid #ffe008;
        width: 0px
        height: 0px
        transition: all .4s ease-in-out;
      .info
        position: absolute
        .icon
          width: 60px
          height: 60px
          border-radius: 100%
          background: #ffe008
          position: relative
          transform: scale(.7)
          transition: all .4s ease-in-out;
          display: inline-block
          vertical-align: top
          img
            position: absolute
            max-width: 55%
            max-height: 55%
            left: 0px
            right: 0px
            top: 0px
            bottom: 0px
            margin: auto
        .text
          color: $brand-purple !important
          text-shadow: none
          font-size: 16px
          transition: all .5 ease
          display: inline !important
          &:hover
            cursor: pointer

    &.uno
      top: 75px;
      left: 330px;
      .name 
        left: -49px;
        right: 0px;
        top: -28px;
      .line
        left: 3px;
        bottom: 5px;
        border-top-left-radius: 45px;
        border-bottom: 0px;
        border-right: 0px;
        height: 40px
      .info
        left: 102px;
        top: -60px;
        .text
            display: inline-block;
            vertical-align: top;
            width: 210px;
            position: absolute;
            top: 0px;
            font-family: $primary-font
            text-align: left
            left: 70px
            .title
              font-size: 28px
      .content.active
        .line
          width: 100px
        .info
          .icon
            transform: scale(1)

    &.dos
      top: 251px;
      left: 566px;
      .name
        text-align: left
        margin-left: 24px
      .line
        left: 3px;
        bottom: 5px;
        height: 0px
        border-width: 1px
      .info
        left: 60px;
        top: -23px;
        .text
          display: inline-block;
          vertical-align: top;
          width: 210px;
          position: absolute;
          bottom: 66px;
          font-family: $primary-font
          text-align: left
          left: 0px
          
          .title
            font-weight: 700
            font-size: 28px
      .content.active
        .line
          width: 60px
        .info
          .icon
            transform: scale(1)

    &.tres
      top: 533px;
      left: 470px;
      .name
        width: 120px
        display: block
        text-align: left
        left: 20px
        top: 10px
      .line
        left: 7px;
        bottom: -22px;
        border-bottom-left-radius: 45px;
        border-top: 0px;
        border-right: 0px;
        height: 35px;
      .info
        left: 90px;
        top: 1px
        .text
          display: inline-block;
          vertical-align: top;
          width: 224px;
          position: absolute;
          bottom: 15px;
          font-family: $primary-font
          text-align: left
          left: 70px
          
          .title
            font-weight: 700
            font-size: 28px
            margin-top: 5px
      .content.active
        .line
          width: 100px
        .info
          .icon
            transform: scale(1)

    &.cuatro
      top: 529px;
      left: 178px;
      .name 
        text-align: right;
        right: 26px;
        top: 10px;
      .line
        right: 7px;
        bottom: -22px;
        border-bottom-right-radius: 45px;
        border-top: 0px;
        border-left: 0px;
        height: 35px;
      .info
        right: 70px;
        top: 1px
        .text
          display: inline-block;
          vertical-align: top;
          width: 224px;
          position: absolute;
          bottom: 15px;
          font-family: $primary-font
          text-align: center
          right: 70px
          color: #6f6f6f
          
          .title
            font-weight: 700
            font-size: 28px
            margin-top: 5px
      .content.active
        .line
          width: 100px
        .info
          .icon
            transform: scale(1)

    &.cinco
      top: 251px;
      left: 88px;
      .name
        width: 200px;
        text-align: right;
        right: 28px;
      .line
        right: 3px;
        bottom: 5px;
        height: 0px
        border-width: 1px
      .info
        right: 60px;
        top: -23px;
        .text
          display: inline-block;
          vertical-align: top;
          width: 210px;
          position: absolute;
          bottom: 66px;
          font-family: $primary-font
          text-align: right
          right: 0px
          .title
            font-weight: 700
            font-size: 28px
            position: relative
            line-height: 1
            a
              font-size: 20px
              font-weight: 800
              margin: 0px
              position: relative
              color: $brand-green
              &:hover
                color: $brand-y
                text-shadow: 1px 1px 1px $black
              &:after
                content: "ir";
                position: absolute;
                left: -26px;
                top: 8px;
                color: #fff;
                font-size: 12px;
                font-weight: 600;
              &:before
                content: "";
                width: 20px;
                height: 20px;
                border-radius: 100%;
                background: #009a37;
                position: absolute;
                left: -32px;
                top: 0px;
                bottom: 0px;
                margin: auto;
      .content.active
        .line
          width: 60px
        .info
          .icon
            transform: scale(1)
   

    a.active
      .punto
        background: #ffdf08
        transform: scale(1.5)
      .name
        opacity: 0
        transform: scale(.4)

      .info
        display: block


  svg
    display: inline-block
    top: 0
    left: 0
    transform: rotate(-90deg)
    .svg-circle-bg
      fill: transparent
      stroke: #fff
      stroke-width: 2px
      stroke-linejoin: round
    .svg-circle-bar
      fill: transparent
      stroke: #ffdf08
      stroke-width: 3px
      stroke-dasharray: 943
      stroke-dashoffset: calc((100 - var(--bar-percentage)) * 9.43)
      stroke-linecap: round
      stroke-linejoin: round
      transition: stroke-dashoffset 1s