.tb-nav--top
  position: relative
  top:  10px
  left: 0px
  width: 100%
  z-index: 1
  .wrap
    width: 95%
    max-width: 1400px
    margin: 0px auto
  .btn
    display: inline-block
    vertical-align: middle
    border-radius: 12px
    font-size: 12px
    border: 2px solid $brand-green
    font-family: $primary-font
    font-weight: bold
    color: $brand-green !important
    overflow: hidden
    transition: all .5s ease-in-out
    &:hover 
      background: rgba(255,255,255,.7)
    a
      color: $brand-green
    &.menu-click
      float: left
  .group-btn
    float: right