\:root
  --bar-percentage: 0
@charset 'UTF-8'
@import 'utils/variables'
@import 'utils/media'

@import 'global/global'

@import 'components/menu'
@import 'components/side-menu'
@import 'components/circle'
@import 'components/modals'

@import 'pages/page'
@import 'pages/beneficios'
@import 'pages/puntos'

.tb-page .tb-nav--top
  position: relative
  top: 0
  padding: 20px 0
  height: 70px
  background: #D5FEDC
  box-shadow: 2px 0 8px $brand-green
  
.input-porcent
  position: absolute
  left: 50px
  top: 50px

.back
  text-align: right
  margin-bottom: 30px
  a
    background: #019937
    padding: 12px 15px
    border-radius: 10px
    font-size: 13px
    color: #fff
    text-transform: uppercase
    font-weight: 600

@media (max-width: 1000px)
  header
    width: calc(94% - 100px);
    left: calc(-94% - 100px);
    .close
      background: #019937
      color: #fff
  section.page
    display: block
    background-image: url('../img/bg-mobile.jpg')
    background-size: cover
    background-position: center
    .table-cell
      display: block
    .bg-image
      display: none !important
    .svg-bar
      display: none !important
    .circle 
      width: 90% !important
      margin-top: 80px
      .block
        left: 0px !important
        top: 0px !important
        display: block !important
        position: relative !important
        padding: 15px
        background: rgba(255,255,255,.7)
        margin-bottom: 5px
        .name, .line, .punto
          display: none !important
        .content
          visibility: visible !important
          opacity: 1 !important
          .info, .text
            position: relative !important
            top: 0px !important
            left: 0px !important
            right: inherit !important
            bottom: inherit !important
            text-align: left !important
            color: #474747 !important
            font-size: 14px !important
            .title
              font-size: 18px !important
              a
                font-size: 14px !important
                font-weight: 400 !important
                display: block !important
                margin: 8px 0px !important
                margin-left: 28px !important
                &:after
                  top: 0px !important
            .icon
              transform: scale(1)
              margin-right: 20px
  section.beneficios 
    .wrap 
      .group 
        .block
          width: 49.5%
@media (max-width: 820px)
  section.novedades 
    .wrap 
      .first 
        text-align: left
        .text
          display: block
          width: 100%
          margin-left: 0px
@media (max-width: 650px)
  section.beneficios 
    .wrap 
      .group 
        .block
          width: 100%
