.tb-beneficios
  //margin: 40px 0
  &--title
    font-weight: $font-bold
  &--toltip__link
    cursor: pointer
    color: white
    &:hover
      color: $brand-y

.row-eq-height
  +MQ(L) 
    display: flex

.tb-article--cart
  border: 1px solid grey
  padding: 0 !important
  margin-bottom: 20px !important
  hr
    margin-bottom: 0
    border-top-color: grey
  &__img
    margin: 0 auto
  &__promo
    +MQ(L)
      background: $brand-green
      height: 110px
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 0 0 2px !important
  &__descount
    font-weight: $font-bold
    +MQ(L)
      color: $white
      text-align: center
    &--percent
      font-size: 30px
      &-text
        font-size: 18px
        line-height: 1
  &__content
    display: table
    width: 100%
    background: gainsboro
    +MQ(L)
      display: flex
      align-items: center
      justify-content: center
  &__validate
    padding: 5px
    background: $brand-purple
    color: $white
    p
      padding: 0
      margin: 0

.tb-descount-day
  font-size: 12px