section.novedades
  width: 100%
  min-height: auto
  display: inline-block
  position: relative  
  .image
    left: 0px
    top: 0px
    width: 100%
    height: 350px
    background-size: cover
    background-position: center
    position: relative
    display: table
    text-align: center
    .table-cell
      display: table-cell
      vertical-align: middle 
      h1
        font-family: "Open Sans",sans-serif;
        color: #fff;
        font-size: 40px;
        position: relative;
        z-index: 99;
        font-weight: 400;
    &:after 
      content: "";
      width: 100%;
      height: 100%;
      background: rgba(3, 12, 6, 0.05)
      position: absolute;
      left: 0px;
      top: 0px;
      z-index: 9;
  .wrap
    width: 92%
    max-width: 1400px
    margin: 0px auto
    position: relative
    z-index: 99
    padding: 30px 0px
    display: block
    color: #000
    font-family: $primary-font
    .title
      margin-bottom: 20px
    p
      font-size: 14px
      font-weight: 300
      margin-bottom: 18px
    table
      width: 100%
      margin-bottom: 20px
      td
        padding: 5px 10px 5px 20px;
        border-top-width: 1px;
        border-right-width: 1px;
        border-bottom-width: 1px;
        border-top-style: none;
        border-right-style: none;
        border-bottom-style: solid;
        border-left-style: none;
        border-top-color: #DFDFDF;
        border-right-color: #DFDFDF;
        border-bottom-color: #DFDFDF;
    .first
      text-align: center
      .logo
        width: 300px
        display: inline-block
        vertical-align: middle
        img
          max-width: 100%
      .text
        width: calc(97% - 300px);
        display: inline-block;
        vertical-align: middle;
        text-align: left
        background: #f0f0f0;
        margin-left: 2%;
        // max-width: 700px;
        border-radius: 8px;
        padding: 20px;
        .desct
          span
            display: inline-block
            font-size: 50px
            margin-right: 10px
            font-weight: 600
            color: #019837
          p
            display: inline-block
            vertical-align: top
        .btn
          color: #019937;
          font-size: 12px;
          text-transform: uppercase;
          font-weight: 600;
          text-align: right;