section.page
  display: table
  width: 100%
  min-height: 100vh
  background: gray
  position: absolute
  padding: 40px
  background-size: auto
  background-position: center
  overflow: hidden
  .bg-image
    position: absolute
    left: 0px
    top: 0px
    width: 100%
    height: 100%
    background-size: auto
    background-position: center
    opacity: 0
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    transform: scale(1.05) rotate(2deg)
    &.active
      opacity: 1
      transform: scale(1) rotate(0deg)
  .table-cell
    display: table-cell
    vertical-align: middle
    text-align: center