.tb-page--puntos
    &__graph
        margin-bottom: 30px 
    &__img
        margin-bottom: 20px
        &--content
            width: 100%
        &--text
            max-width: 300px
            margin: 0 auto
.tb-big-text
    font-size: 18px
.text-big
    font-size: 22px
    font-weight: $font-bold
    text-align: center
    display: inline-block
    padding-bottom: 10px

.bg-grey
    background: #f1f1f1
    padding: 40px 0

.tb-pasenger-list
    li
        padding-bottom: 20px

.black-hr
    border-top: 1px solid $brand-green !important

.tb-page--programas__section
    padding: 10px 5px

.tb-bg-grey
    //background: #f1f1f1
    border: 1px solid $brand-green !important
    padding: 0 10px

.tb-page--programas__big-title
    font-size: 32px